
@media only screen and (max-width: 1400px){
  [class*="col-"] {
    width: 100%;
  }
  .curtain__wrapper{
    width:100%;
    height:100%;
    position:relative;
   
   
  }
  .curtain__panel{
    margin-top: -7%;
  }

  .curtain__prize{
    margin-top: -15%;
  }

 .me{
  width:auto;
  height:auto;
  margin-top: 25%;
}
.about{
  font-size:80%;
  padding: 10%;
  margin-top: -10%;
}
}







@media only screen and (max-width: 1200px){
  [class*="col-"] {
    width: 100%;
  }
  .curtain__wrapper{
    width:100%;
    height:100%;
    position:relative;
   
   
  }
  .curtain__panel{
    margin-top: -10%;
  }

  .curtain__prize{
    margin-top: -15%;
  }

 .me{
  width:auto;
  height:auto;
  margin-top: 25%;
}
.about{
  font-size:80%;
  padding: 10%;
  margin-top: -10%;
}

  
  
}



 @media only screen and (max-width: 1000px){
   
    .curtain__wrapper{
        width:100%;
        height:100%;
        position:relative;
       
       
      }
      .curtain__panel{
        margin-top: -20%;
      }
  
      .curtain__prize{
        margin-top: -15%;
      }

     .me{
      width:auto;
      height:auto;
      margin-top: 20%;
      
    }
    .about{
      font-size:80%;
      padding: 10%;
      margin-top: -10%;
    }
}


  @media only screen and (max-width: 800px) {
    [class*="col-"] {
        width: 100%;
      }
      
      
      .me{
        width:auto;
        height:auto;
        margin-top: 20%;
      }
      .curtain__panel{
        margin-top: -30%;
      }
      .curtain__prize{
        margin-top: -15%;
      }
      .about{
        font-size:80%;
        padding: 20%;
        margin-top: ;
      }
      .curtain__wrapper{
        width:0%;
        height:0%;
      }
      .curtain__panel{
        width:0%;
        height:0%;
      }
      
   
  }

  @media only screen and (max-width: 800px) {
    [class*="col-"] {
        width: 100%;
      }
     
    
     
    
     .bioHeader{
         text-align: center;
         margin-left: 200px;
         padding-bottom: 20px;
         
     }
   
  
      .headB{
        display:none;
      }
      .headA{
      
        text-align: center;
        font-size: 50px;
        
        
      }
      .about{
        padding:100px;
        margin: -100px;
        text-align: center;
        position: relative;
      }
      
     .me{
       margin-left: 180px;
       margin-right: auto;
       display:inline-block;
      
       
       
    }
    
      
    
  }
     
   
    
  
  
   