/* @media only screen and (min-width: 1010px){
    .push{
        display: none;
    }
    .curtain__wrapper{
        width:100%;
        height:100%;
        position:relative;
       
       
      }
  
      .me{
        
          
          margin-top: 5%;
      
      }
      
}

@media only screen and (max-width: 1480px){
    [class*="col-"] {
      width: 100%;
    }
    .logo{
      position: relative;
    }
    .header{
      text-align: center;
    }
    .me{
        width:auto;
        height:15%;
        margin-top: 10%;
    }
     .curtain__wrapper{
        width:100%;
        height:100%;
       
      } 
      
  
    
    
  }
  
  @media only screen and (max-width: 960px) {
    [class*="col-"] {
        width: 100%;
      }
      
      .logo{
        position: relative;
      }
      .me{
        width:auto;
        height:15%;
        margin-top: 15%;
      }
      .header{
        text-align: center;
      }
      .curtain__wrapper{
        width:100%;
        height:100%;
       
        
       
     
      }
      .curtain{
        padding-bottom: px;
      }
      
      
   
  }
 
  @media only screen and (max-width: 758px) {
    [class*="col-"] {
        width: 100%;
      }
      .a{
        font-size:50px;
      }
      .me{
        width:auto;
        height: 50px;
      }
     
      .curtain__wrapper{
        width:0%;
        height:0%;
      }
      .curtain__panel{
        width:0%;
        height:0%;
      }
     .bioHeader{
         text-align: center;
     }
   
  
      .headB{
        display:none;
      }
      .headA{
      
        text-align: center;
        font-size: 50px;
      }
      
      .links{
        position:fixed;
      }
      .logo{
        position:fixed;
        width:125px;
        height:95px;
      }
  
    
    }
     */
   
    
  
  
   