.imgclass{
    position: absolute;
    z-index: 3;
}
.button{
  border-radius:50px;
  background-color: pink ; /* Green */
  border: none;
  color: #9b870c;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10%;
  margin-left:25%;
  cursor: pointer;
  font-family: "Montserrat";
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.button2{
  border-radius:50px;
  background-color: white ; /* Green */
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10%;
  margin-left:25%;
  cursor: pointer;
  font-family: "Consolas";
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.razer{

    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border: 10px solid transparent;
    border-radius: 10%;
    /* border-color: pink; */
   
  }

.description{
    font-size:130%;
    text-align: center;
    padding-left:50px;
    margin:0px;
    letter-spacing: 4px;
    padding-top:40px;
    color:white;
          
          
          font-family: "Consolas";
}
.project-container-images{
  display: grid;
  padding:10px;
  grid-template-columns: repeat(2,4fr);
  grid-template-rows:  auto;
  gap: 10px;
  background-color:black;
  Width:auto;
}

.container-images{
  padding:15px 0;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}