
 
.project{
  position: relative;
 
}


.project-container{
  display: grid;
  padding:10px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows:  auto;
  gap: 10px;
  background-color:black;
  Width:auto;
}

.container{
  padding:15px 0;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}


.header{
    position: relative;
    font-size: 100px;
    padding: 15px;
    letter-spacing: 3px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: pink;
    margin: auto;
    text-align:center;
    width: auto;
    background-color: #66b933;
    
  }
  @media (max-width: 1503px) and (min-width:880px){
    .project-container{
      grid-template-columns: repeat(2,1fr);
      gap:5px;
    }   
}

@media(max-width:880px){
  .project-container{
    grid-template-columns: 1fr;
  } 
}

  /* .container{
    display: grid;
    grid-template-columns: 1fr;

  } */
  /* .container-fluid{

  } */