.project{
    position: relative;
   
  }
  
  
.project-container-razer{
    
    background-color:black;
    Width:auto;
}
  
  .container{
    padding:15px 0;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  .FSheader{
    position: relative;
    font-size: 100px;
    padding: 15px;
    letter-spacing: 3px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin: auto;
    text-align:center;
    color:#F6BE00;
    width: auto;
    background-color:#00008b;
    
  }
  .header2{
  position: relative;
  font-size: 100%;
  padding: 15px;
  letter-spacing: 3px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  margin: auto;
  text-align:center;
  width: auto;
  background-color: black;
  
}
.header3{
  position: relative;
  font-size: 100%;
  padding: 15px;
  letter-spacing: 3px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:white;
  margin: auto;
  text-align:center;
  
  width: auto;
  background-color: black;
}