.bod{
  background-color: black;
  height: 100%;
}








.links{
 position: static;
 text-align:center;
 z-index: 2;
 left: 0;
  bottom: 0;
  padding: 15px;
  background-color: rgb(17, 29, 29);
} 



