.button{
    border-radius: 10%;
    background-color: #e7e7e7;
    display:block;
    margin:0 auto;
    padding:10px;
}

.button a {
    color:#000;
}

.button:hover{
    background-color:grey;
}
.button:hover a {
    color:#000;
}

.text{
    text-align: center;
    color: white;
}
h2{
    color:white;
    text-align: center;
}

